body{
  margin:0;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#0f172a,#1e293b);
  font-family:Arial,sans-serif;
}

h2{
  color:white;
  font-size:28px;
  margin-bottom:20px;
  letter-spacing:2px;
}

#timer{
  width:220px;
  height:220px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
  background:white;
  font-size:70px;
  font-weight:bold;
  color:#2563eb;
  box-shadow:
  0 0 30px rgba(37,99,235,.4),
  inset 0 0 20px rgba(0,0,0,.1);
  margin:20px 0;
}

button{
  padding:14px 45px;
  border:none;
  border-radius:50px;
  background:#2563eb;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  box-shadow:0 10px 25px rgba(37,99,235,.4);
  transition:.3s;
}

button:hover{
  transform:translateY(-3px);
}

button:active{
  transform:translateY(0);
}
#btns{
display:flex;
overflow-x:auto;
 gap:10px;
  width:100%;
}